.Skills {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 0 7%;

    .TextArea {
        flex: 1;
        margin-bottom: 40px;
    }

    .Journey {
        font-size: 14px;
        font-weight: 300;
        line-height: 18px;

        a {
            color: #ff7400;
            text-decoration: underline;
        }
    }

    .SkillChart {
        flex: 1;
        margin-bottom: 30px;
    }
}

@media screen and(min-width: 960px) {
    .Skills {
        flex-direction: row;
        padding: 0 5%;

        .SkillChart {
            flex: 1;
            margin-bottom: 0;
        }
    }
}
