.Works {
    padding: 60px 0;
    width: 90%;
    margin: 0 auto;
}

.Memo {
    margin: 50px 0;
    font-size: 18px;
    font-weight: 300;

    a {
        color: #ff7400;
        text-decoration: underline;
    }
}
