.Works {
    padding: 60px 0;
    width: 90%;
    margin: 0 auto;
    animation: pageLoad 1s;
}

.Memo {
    margin: 50px 0;
    font-size: 18px;
    font-weight: 300;

    a {
        color: #ff7400;
        text-decoration: underline;
    }
}

@keyframes pageLoad {
    from {
        opacity: 0;
        transform: scale3d(0.5, 0.5, 0.5);
    }
    to {
        opacity: 1;
        transform: scale3d(1, 1, 1);
    }
}
