/* Tab
---------------------------------------------------------------------- */
.showcase {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.filter-wrap {
    display: inline-block;
    position: relative;
    margin: 0 auto 50px 0;
    z-index: 10;

    .flex {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .row {
        flex-direction: row;
    }

    .filter {
        display: inline-block;
        padding: 5px 5px;
        margin: 0 5px;
        font-size: 12px;
        cursor: pointer;
    }

    .float-bar {
        position: absolute;
        top: 0;
        left: 0;
        background: #ff7400;
        overflow: hidden;
        height: 100%;
        margin: auto 0;
        z-index: 12;
        transition: all 0.5s ease-in-out;

        .row {
            position: absolute;
            transition: left 0.5s ease-in-out;
        }
    }
}

/* Container
---------------------------------------------------------------------- */

.container {
    padding: 1rem;
    text-align: justify;
    font-size: 0.1px;
}

.container:after {
    content: '';
    display: inline-block;
    width: 100%;
}

/* Target Elements
---------------------------------------------------------------------- */

.mix,
.gap {
    display: inline-block;
    vertical-align: top;
}

.mix {
    height: 300px;
    position: relative;
    overflow: hidden;

    img {
        width: 100%;
        transform: scale(1.15);
        transition: all 0.5s ease-in-out;
        opacity: 0.7;
        background-color: black;

        &:hover {
            opacity: 1;
            transform: scale(1.03);
        }
    }
}

/* Grid Breakpoints
---------------------------------------------------------------------- */

/* 1 Column */

.mix,
.gap {
    width: calc(100% / 1 - (((1 - 1) * 1rem) / 1));
}

@media screen and (min-width: 541px) {
    .mix,
    .gap {
        width: calc(100% / 2 - (((2 - 1) * 1rem) / 2));
    }
}

/* 3 Columns */

@media screen and (min-width: 769px) {
    .mix,
    .gap {
        width: calc(100% / 3 - (((3 - 1) * 1rem) / 3));
    }

    .filter-wrap {
        margin: 0 auto 90px -25px;

        .filter {
            padding: 5px 50px;
            margin: 0 25px;
            font-size: 18px;
        }
    }
}
