@import url('https://fonts.googleapis.com/css?family=La+Belle+Aurore');

.Wrapper {
    padding: 20px;
    span {
        font-family: 'La Belle Aurore', cursive;
        font-size: 18px;
        color: #515152;
    }
}
