.Home {
    position: relative;
    padding: 25% 5%;
    color: white;
    animation: pageLoad 1s;

    .TextArea {
        position: relative;
        z-index: 2;

        .Summary {
            font-size: 30px;
            font-weight: 900;
        }

        .Title {
            color: #8d8d8d;
            letter-spacing: 2px;
            margin-bottom: 30px;

            span::before {
                content: ' ';
                display: block;
            }
        }
    }

    .Contact {
        text-transform: uppercase;
        color: #ff7400;
        border: 1px solid #ff7400;
        border-radius: 5px;
        background: transparent;
        padding: 10px 20px;
        letter-spacing: 3px;
        font-size: 11px;
        cursor: pointer;
        transition: all 0.2s ease-in-out;

        &:hover {
            background: #ff7400;
            color: black;
        }
    }

    .ImageArea {
        position: absolute;
        top: 0;
        right: -20%;

        img {
            height: 270px;
        }
    }
}

@keyframes pageLoad {
    from {
        opacity: 0;
        transform: scale3d(0.5, 0.5, 0.5);
    }
    to {
        opacity: 1;
        transform: scale3d(1, 1, 1);
    }
}

@media screen and (min-width: 530px) {
    .Home {
        display: flex;
        flex-direction: row;
        padding: 10% 7%;

        .TextArea {
            .Summary {
                font-size: 60px;
            }

            .Title {
                margin-bottom: 45px;

                span::before {
                    display: none;
                }
            }
        }

        .ImageArea {
            transform: translateY(0) rotate(-10deg);
            right: 5%;
            img {
                height: 600px;
            }
        }
    }
}
