.Header {
    margin: 10px auto;

    h1 {
        font-size: 45px;
        color: #ff7400;
        margin: 5px auto;
    }

    &::before,
    &::after {
        font-family: 'La Belle Aurore', cursive;
        font-size: 18px;
        color: #515152;
    }

    &::before {
        content: '<h1>';
    }

    &::after {
        content: '</h1>';
    }
}

@media screen and (min-width: 530px) {
    .Header {
        margin: 30px auto;

        h1 {
            font-size: 73px;
            color: #ff7400;
            margin: 5px auto;
        }
    }
}
