.App {
    display: grid;
    min-height: 100vh;
    grid-template-columns: 60px auto;
    grid-template-rows: 60px auto;
    grid-template-areas:
        'header header'
        'frame frame';
}

.Header {
    grid-area: header;
    background: #181818;
}

.Frame {
    grid-area: frame;
    background: #252627;
}

@media screen and (min-width: 960px) {
    .App {
        grid-template-areas:
            'header frame'
            'header frame';
    }
}
